$textColor:#EAEAEA ;
$contentHoverColor:#2C2F34;

body {
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    color: $textColor;
    div.about {
        flex: 3 1 500px;
        padding: 2rem 0rem;
        table {
          tr {
            transition: all 0.2s ease;
            td {
              padding: 1rem 1rem;
              font-size: 1.25rem;
              ul{
                list-style-type: none;
              }
              a{
                display: flex;
                color: $textColor;
                text-decoration: none;
                align-items: center;
                img{
                  width: 35px;
                  height: 35px;
                  margin-right: 1rem;
                }
                &:hover{
                    text-decoration: underline;
                }
              }
            }
            &.content:hover {
              background-color: $contentHoverColor;
            }
          }
        }
      }
}