$textColor:#EAEAEA ;
$contentHoverColor:#2C2F34;

body {
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    color: $textColor;
    section{
      display: flex;
      flex-wrap: wrap;
      div.about {
        flex: 3 1 500px;
        padding: 2rem 0rem;
        table {
          tr {
            transition: all 0.2s ease;
            &.title{
              color: #C4B598;
              font-weight: bolder;
            }
            td {
              padding: 1rem 1rem;
              font-size: 1.25rem;
              ul{
                list-style-type: none;
              }
              a{
                display: flex;
                color: $textColor;
                text-decoration: none;
                align-items: center;
                img{
                  width: 35px;
                  height: 35px;
                  margin-right: 1rem;
                }
                &:hover{
                    text-decoration: underline;
                }
              }
            }
            &.content:hover {
              background-color: $contentHoverColor;
            }
          }
        }
      }
      div.penguins{
        flex: 2 1 300px;
        h2{
          text-align: center;
        }
        section.avatars{
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            transition: all 0.2s ease;
            border-radius: 50%;
            width: 15vw;
            height: 15vw;
            margin: 2rem;
            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }
}

@media screen and (max-width: 800px) {
  main{
    section{
      div.penguins{
        section.avatars{
          img{
            width: 30vw;
            height: 30vw;
          }
        }
      }
    }
  }
}